name: Gradle test

on:
  workflow_call:
    inputs:
      java_version:
        type: string
        default: '25'
    secrets:
      JORISG_REPO_USERNAME:
        required: false
      JORISG_REPO_PASSWORD:
        required: false

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.java_version }}
          distribution: 'temurin'

      - name: Gradle Test
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
        env:
          ORG_GRADLE_PROJECT_JorisgUsername: ${{ secrets.JORISG_REPO_USERNAME }}
          ORG_GRADLE_PROJECT_JorisgPassword: ${{ secrets.JORISG_REPO_PASSWORD }}