name: Gradle create github release

on:
  workflow_call:
    inputs:
      files:
        description: 'globs of files to include in release'
        default: build/libs/*.jar
        required: false
        type: string
      java_version:
        type: string
        default: '25'
    secrets:
      JORISG_REPO_USERNAME:
        required: false
      JORISG_REPO_PASSWORD:
        required: false

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: '0'
          
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: ${{ inputs.java_version }}
          distribution: 'temurin'
          
      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: shadowJar
        env:
          ORG_GRADLE_PROJECT_JorisgUsername: ${{ secrets.JORISG_REPO_USERNAME }}
          ORG_GRADLE_PROJECT_JorisgPassword: ${{ secrets.JORISG_REPO_PASSWORD }}
        
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          prerelease: false
          files: ${{ inputs.files }}
